/* global */
html, body, dl, dt, dd, ul, p, h1, h2, h3, h4, h5, h6, form {
    margin: 0;
    padding: 0;
}
td, th, div {
    word-break: break-all;
    word-wrap: break-word;
}
form {
    display: inline;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
th {
    font-weight: 100;
    text-align: left;
}
ol li {
    list-style: outside none decimal;
}
ol {
    margin: 0;
    padding: 0 0 0 18px;
}
li {
    list-style: outside none none;
}
img {
    border: 0 none;
}
.cc {
}
.cc:after {
    clear: both;
    content: " ";
    display: block;
    height: 0;
    visibility: hidden;
}
.c {
    clear: both;
    font: 0px/0 Arial;
    height: 0;
    overflow: hidden;
    width: 0;
}
html {
    background-attachment: fixed;
    overflow-y: scroll;
}
.input, textarea, select {
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 2px #f0f0f0 inset;
    color: #333;
    font-family: inherit;
    font-size: 100%;
    line-height: 18px;
    margin: 0;
    padding: 4px;
    vertical-align: middle;
}
.input:focus, textarea:focus {
    border-color: #7bbff2;
    outline: 2px solid #99d8f5;
}
.input {
    height: 18px;
}
input.radio, input.checkbox {
    margin-right: 3px;
    padding: 0;
    vertical-align: -3px;
}
input[type="radio"], input[type="checkbox"] {
    margin-right: 3px;
    padding: 0;
    vertical-align: -3px;
}
textarea {
    height: 72px;
    overflow: auto;
    resize: vertical;
    vertical-align: top;
}
a {
    color: #105cb6;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

/* header */
body {
    background: none repeat scroll 0 0 #f4f4f4;
    color: #333;
    font: 12px/1.5 Tahoma;
    padding-top: 45px;
}
.header_wrap {
    background: none repeat scroll 0 0 #2e9f54;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    display: block;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}
.header {
    margin: auto;
    min-height: 45px;
    width: 960px;
}
.logo {
    float: left;
    margin-right: 10px;
}
.logo a, .logo a img {
    float: left;
}
.nav {
    float: left;
}
.nav ul {
    float: left;
    height: 45px;
    padding: 0 3px;
}
.nav li {
    float: left;
}
.nav li a {
    color: #ffffff;
    display: block;
    float: left;
    font-size: 14px;
    height: 45px;
    line-height: 45px;
    padding: 0 12px;
}
.nav li a:hover {
}
.nav li.current a, .nav li.current a:hover {
    background: none repeat scroll 0 0 #5bb793;
    color: #fff;
}
.header_right {
    float: right;
    padding: 13px 0 0;
}
.header_right a {
    color: #fff;
    margin: 0 0 0 10px;
}
.main_wrap {
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    width: 960px;
}