/* global */
html, body, dl, dt, dd, ul, p, h1, h2, h3, h4, h5, h6, form {
    margin: 0;
    padding: 0;
}
td, th, div {
    word-break: break-all;
    word-wrap: break-word;
}
form {
    display: inline;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
th {
    font-weight: 100;
    text-align: left;
}
ol li {
    list-style: outside none decimal;
}
ol {
    margin: 0;
    padding: 0 0 0 18px;
}
li {
    list-style: outside none none;
}
img {
    border: 0 none;
}
.cc {
}
.cc:after {
    clear: both;
    content: " ";
    display: block;
    height: 0;
    visibility: hidden;
}
.c {
    clear: both;
    font: 0px/0 Arial;
    height: 0;
    overflow: hidden;
    width: 0;
}
html {
    background-attachment: fixed;
    overflow-y: scroll;
}
.input, textarea, select {
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 2px #f0f0f0 inset;
    color: #333;
    font-family: inherit;
    font-size: 100%;
    line-height: 18px;
    margin: 0;
    padding: 4px;
    vertical-align: middle;
}
.input:focus, textarea:focus {
    border-color: #7bbff2;
    outline: 2px solid #99d8f5;
}
.input {
    height: 18px;
}
input.radio, input.checkbox {
    margin-right: 3px;
    padding: 0;
    vertical-align: -3px;
}
input[type="radio"], input[type="checkbox"] {
    margin-right: 3px;
    padding: 0;
    vertical-align: -3px;
}
textarea {
    height: 72px;
    overflow: auto;
    resize: vertical;
    vertical-align: top;
}
a {
    color: #2e9f54;
    text-decoration: none;
    cursor: pointer;
}
a:hover {
    text-decoration: underline;
}

/* header */
body {
    background: none repeat scroll 0 0 #f4f4f4;
    color: #333;
    font: 12px/1.5 Tahoma;
    padding-top: 45px;
}
.header-wrap {
    background: none repeat scroll 0 0 #2e9f54;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    display: block;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}
.header {
    margin: auto;
    min-height: 45px;
    width: 1200px;
}
.logo {
    float: left;
    margin-right: 10px;
}
.logo a, .logo a img {
    float: left;
}
.nav {
    float: left;
}
.nav ul {
    float: left;
    height: 45px;
    padding: 0 3px;
}
.nav li {
    float: left;
}
.nav li a {
    color: #ffffff;
    display: block;
    float: left;
    font-size: 14px;
    height: 45px;
    line-height: 45px;
    padding: 0 12px;
}
.nav li a:hover {
}
.nav li.current a, .nav li.current a:hover {
    background: none repeat scroll 0 0 #5bb793;
    color: #fff;
}
.header-right {
    float: right;
    padding: 13px 0 0;
}
.header-right a {
    color: #fff;
    margin: 0 0 0 10px;
}

/* center */
.main-wrap {
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    width: 1200px;
}
.main {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-image: none;
    margin: 10px 0;
    position: relative;
}
.main-left {
    margin-right: 360px;
    padding: 17px 20px;
    background-color: #fff;
    border: 1px solid #eaeaea;
    border-radius: 4px;
    overflow: hidden;
    padding: 20px;
    float: left;
}
.left-top {
    border-bottom: 1px solid #e3e3e3;
    display: block;
    height: 40px;
    line-height: 40px;
    overflow: hidden;
}
.left-top ul {

}
.left-top li {
    float: left;
}
.left-top li {
    float: left;
}
.left-top li a {
    border-bottom: 0 none;
    border-radius: 3px;
    display: block;
    float: left;
    height: 24px;
    line-height: 24px;
    padding: 0 10px;
    font-weight: 700; 
    text-align: center;
    text-decoration: none;
    margin-right: 5px;
}
.left-top li a:hover {
    text-decoration: underline;
}
.left-top li.current a, .left-top li.current a:hover {
    background: none repeat scroll 0 0 #2e9f54;
    color: #fff;
    font-weight: 700;
}
.btn-publish {
    float: right;
    display: inline-block;
    background: none repeat scroll 0 0 #2e9f54;
    border: none;
    border-radius: 3px;
    color: #fff;
    font-size: 18px;
    text-align: center;
    width:100px;
    height:30px;
    line-height: 30px;
}
.left-box {
    padding-bottom: 20px;
}
.left-box .item {
    border-bottom: 1px solid #eaeaea;
    overflow: hidden;
    padding-top: 10px;
    position: relative;
}
.left-box .item .pic{
    float: left;
    margin-right: 10px;
    width: 50px;
}
.left-box .item .content{
    margin-left: 60px;
}
.content .part1 a{
    font-size: 14px;
    font-weight: 700;
}
.content .part2 {
    margin: 5px 0;
}
.content .part3 {
    margin-bottom: 10px;
}
.part3 a {
    /*color: #105cb6;*/
    display: inline-block;
    margin-right: 10px;
}
.digg-up {
    font-size: 14px;
}
.digg-down {
    font-size: 14px;
}
.reply {
    font-size: 14px;
}
.like {
    font-size: 14px;
}
.tags {
    float: right;
}
.tags a{
    color: #999;
}
.pages {

}
.pages a {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #f8f8f8;
    border-color: #c9c9c9 #bdbdbd #b0b0b0;
    border-image: none;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    color: #666666;
    display: inline-block;
    line-height: 13px;
    margin-right: 3px;
    padding: 6px 10px !important;
    text-decoration: none;
    vertical-align: top;
}
.pages a:hover {
    background: none repeat scroll 0 0 #2e9f54 !important;
    border-color: #2470b5 #2e9f54 #2e9f54;
    color: #fff;
    text-decoration: none;
}
.pages .current {
    background: none repeat scroll 0 0 #2e9f54 !important;
    border-color: #2470b5 #2e9f54 #2e9f54;
    color: #fff !important;
}

/* center right */
.main-right {
    position: absolute;
    float: right;
}